.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden; /* back part of an element will be hidden if tranform property is applied */
  margin-bottom: 6rem;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: animationNameMoveInLeft;
    animation-duration: 1s;
    /* animation-delay: 3s; */
    /* it will wait 3 sec to start animation */
    /* animation-iteration-count: 3; */ /* repeat animation 3 times */
    animation-timing-function: ease-out;
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; /* animation-name, animation-duration animation-timing-function */
    margin-bottom: 60px;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}
